* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #f4f4f4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav {
    background: #02693f;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #014f2e;
}

.logo {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #00ff8c;
}

.menu {
    display: flex;
    gap: 25px;
}

.menu li {
    list-style: none;
}

.menu li a {
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    transition: 0.3s;
}

.menu li a:hover {
    color: #00ff6e;
    transform: scale(1.10);
    filter: brightness(110%);
}

.container {
    width: 90%;
    max-width: 1100px;
    background: #ffffff;
    margin: 30px auto;
    padding: 25px;
    border-radius: 12px;
    border: 2px solid #ddd;
    text-align: center;
    flex: 1;
}

h1 {
    margin-bottom: 8px;
    color: #02693f;
}

.subtext {
    color: #333;
    font-size: 18px;
    margin-bottom: 20px;
}

footer {
    background: #014f2e;
    color: #fff;
    text-align: center;
    padding: 14px 0;
    font-size: 14px;
    margin-top: auto;
}

@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        gap: 10px;
    }

    .menu {
        flex-direction: column;
        gap: 12px;
    }
}

.subtext {
    color: #333;
    font-size: 18px;
    margin-bottom: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}
.card {
    height: 110px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .35s ease;
}

.blue { background: #1E90FF; }
.green { background: #228B22; }
.yellow { background: #DAA520; }

.tip {
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
}

.card:hover {
    transform: scale(1.12);
    filter: brightness(110%);
}

.card:active {
    transform: scale(0.92);
    filter: brightness(85%);
}

footer {
    background: #014f2e;
    color: #fff;
    text-align: center;
    padding: 14px 0;
    font-size: 14px;
    margin-top: auto;
}

@media (max-width: 768px) {

    .nav {
        flex-direction: column;
        gap: 10px;
    }

    .menu {
        flex-direction: column;
        gap: 12px;
    }

    .cards {
        grid-template-columns: 1fr;
    }
}
